<div class="side-bar">
    <div class="logo-container">
        <div class="logo-icon">
            <i class="fas fa-home"></i>
            <div class="logo-name">
                Self-X
            </div>
        </div>
        <i class="fas fa-angle-double-right"></i>
        <i class="fas fa-bars"></i>
    </div>
    <ul class="nav-list">
        <li>
            <a href="#">
                <i class="fas fa-border-all"></i>
                <span class="link-name">Dashboard</span>
            </a>
            <span class="nav-tooltip">Dashboard</span>
        </li>
        <li>
            <a href="#">
                <i class="far fa-user"></i>
                <span class="link-name">User</span>
            </a>
            <span class="nav-tooltip">User</span>
        </li>
        <li>
            <a href="#">
                <i class="far fa-comments"></i>
                <span class="link-name">Message</span>
            </a>
            <span class="nav-tooltip">Message</span>
        </li>
        <li>
            <a href="#">
                <i class="fas fa-chart-pie"></i>
                <span class="link-name">Analytics</span>
            </a>
            <span class="nav-tooltip">Analytics</span>
        </li>
        <li>
            <a href="#">
                <i class="fas fa-folder"></i>
                <span class="link-name">File Manager</span>
            </a>
            <span class="nav-tooltip">File Manager</span>
        </li>
        <li>
            <a href="#">
                <i class="far fa-file-code"></i>
                <span class="link-name">Code Snippet</span>
            </a>
            <span class="nav-tooltip">Code Snippet</span>
        </li>
        <li>
            <a href="#">
                <i class="fab fa-uncharted"></i>
                <span class="link-name">Extension</span>
            </a>
            <span class="nav-tooltip">Extension</span>
        </li>
        <li>
            <a href="#">
                <i class="fas fa-network-wired"></i>
                <span class="link-name">Network</span>
            </a>
            <span class="nav-tooltip">Network</span>
        </li>
        <li>
            <a href="#">
                <i class="fas fa-cog"></i>
                <span class="link-name">Setting</span>
            </a>
            <span class="nav-tooltip">Setting</span>
        </li>
    </ul>
    <div class="profile-container">
        <div class="profile">
            <div class="profile-detail">
                <img src="..." alt="">
                <div class="detail">
                    <div class="name">W. Natthawut</div>
                    <div class="job">Web Developver</div>
                </div>
                <i class="fas fa-sign-out-alt"></i>
            </div>
        </div>
    </div>
</div>